[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-cors-headers = "*"
djangorestframework = "*"
watchfiles = "==0.22.0"
black = "==24.8.0"

[dev-packages]

[requires]
python_version = "3.11"
